<div class="dog-like-show container">
  <div class="dog-favorite-top">
    <h1>お気に入り<span>（<%= current_user.favorites.count %>）</span></h1>
  </div>
  <% if current_user.favorites.present? %>
    <div class="favorite-dogs row row-cols-4 row-cols-lg-5">
      <% current_user.favorites.each do |favorite| %>
        <% @dogs.each do |dog| %>
          <% if dog.id == favorite.dog_id %>
            <div class="col dogs_index">
              <div class="dog-img">
                <%= link_to dog do %>
                  <%= image_tag dog.image.variant(combine_options:{gravity: :center, resize:"150x150^", crop:" 150x150+0+0"}).processed, class: "img-fluid" %>
                <% end %>
              </div>
              <div class="dog-info">
                <p><%= dog.name %></p>
                <p><%= dog.address %></p>
                <p><%= dog.gender %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="empty">
      <p>お気に入りは登録されていません。</p>
    </div>
  <% end %>
</div>