<% if dogs.present? %>
  <% dogs.each do |dog| %>
    <div class="col dogs_index">
      <div class="dog-img">
        <%= link_to dog, class: "dog-show-link" do %>
          <%= image_tag dog.image.variant(combine_options:{gravity: :center, resize:"150x150^", crop:" 150x150+0+0"}).processed, class: "img-fluid" %>
        <% end %>
      </div>
      <div class="dog-info">
        <p><%= dog.name %></p>
        <p><%= dog.address %></p>
        <p><%= dog.gender %></p>
      </div>
    </div>
  <% end %>
<% end %>