<div class="dog-show-img col-6">
  <%= image_tag @dog.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:" 300x300+0+0"}).processed %>
</div>
<div class="dog-show-right col-6">
  <div class="dog-right-1 row">
    <div class="dog-name col-9">
      <h1>
        <%= @dog.name %>
        <% if @dog.gender == "男の子" %>
          <span>くん</span>
        <% else %>
          <span>ちゃん</span>
        <% end %>
      </h1>
    </div>
    <div class="dog-edit-link col-3">
      <% if user_signed_in? %>
        <%= link_to "フォロー", "#", class: "btn btn-outline-dark" %>
      <% elsif @dog.protector_id == current_protector.id %>
        <%= link_to "編集", edit_dog_path, class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
  <div class="dog-right-2">
    <div class="dog-show-info row">
      <div class="col-6">
        <p>年齢</p>
      </div>
      <div class="col-6">
        <%= @dog.age %>
      </div>
    </div>
    <div class="dog-show-info row">
      <div class="col-6">
        <p>所在地</p>
      </div>
      <div class="col-6">
        <%= @dog.address %>
      </div>
    </div>
    <div class="dog-show-info row">
      <div class="col-6">
        <p>性別</p>
      </div>
      <div class="col-6">
        <%= @dog.gender %>
      </div>
    </div>
    <div class="dog-show-info row">
      <div class="col-6">
        <p>大きさ</p>
      </div>
      <div class="col-6">
        <%= @dog.size %>
      </div>
    </div>
  </div>
</div>