<div class="dog-post-top row">
  <div class="dog-post-name col-8">
    <h2>
      <%= dog.name %>
      <% if dog.gender == "男の子" %>
        <span>くん</span>
      <% else %>
        <span>ちゃん</span>
      <% end %>
      <span>の日常</span>
      <strong id="post-count">
        <span>（<%= dog.posts.count %>）</span>
      </strong>
    </h2>
  </div>
  <% if protector_signed_in? && dog.protector_id == current_protector.id %>
    <div class="dog-post-link col-4">
      <%= link_to new_dog_post_path(dog), remote:true do %>
        <i class="fas fa-camera-retro fa-3x"></i>
      <% end %>
      <div id="post-new-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
  <% end %>
</div>
<div class="dog-posts-image row">
  <% dog.posts.each do |post| %>
    <div class="post-image col col-sm-4">
      <%= link_to dog_post_path(dog, post), remote: true do %>
        <%= image_tag post.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:"300x300+0+0"}).processed, class: "img-fluid" %>
      <% end %>
      <div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
  <% end %>
</div>