<i class="fas fa-heart"></i>
<% if dog.protector == current_protector %>
  <button type="button" class="btn btn-outline-dark like-count" data-toggle="modal" data-target="#dogs-like">
    <% if dog.favorites.present? %>
      <span id="dog-like"><%= favorites.count %></span>
    <% else %>
      <span id="dog-like">0</span>
    <% end %>
  </button>
<% else %>
  <% if favorites.present? %>
    <span id="dog-like"><%= favorites.count %></span>
  <% else %>
    <span id="dog-like">0</span>
  <% end %>
<% end %>
<div class="modal fade" id="dogs-like" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-sm like-modal" role="document">
    <div class="modal-content container like-container">
      <% favorites.each do |favorite| %>
        <div class="like-info row">
          <div class="like-img col-3">
          <% if favorite.user.image.attached? %>
            <%= image_tag favorite.user.image.variant(combine_options:{gravity: :center, resize:"40x40^", crop:"40x40+0+0"}).processed %>
          <% else %>
            <%= image_tag "user_default.png", :size => "40x40" %>
          <% end %>
          </div>
          <div class="like-name col-9">
            <%= link_to user_path(favorite.user) do %>
              <p><%= favorite.user.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>