<% posts.each do |post| %>
  <div class="post-image col col-sm-4" id="post-<%= post.id %>">
    <button type="button" class="btn" value="post-<%= post.id %>" data-toggle="modal" data-target="#modal-<%= post.id %>">
      <%= image_tag post.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:"300x300+0+0"}).processed, class: "img-fluid" %>
    </button>
  </div>
  <!-- モーダル・ダイアログ -->
  <div class="modal fade" id="modal-<%= post.id %>" tabindex="-1"
        role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container modal-container post-modal-all">
        <div class="row post-modal-row">
          <div class="post-show-img col-12">
              <%= image_tag post.image.variant(combine_options:{gravity: :center, resize:"400x400^", crop:"400x400+0+0"}).processed, class: "img-fluid" %>
          </div>
          <div class="post-modal-right col-12">
            <p class="post-modal-content"><%= safe_join(post.content.split("\n"),tag(:br)) %></p>
            <div class="modal-footer">
              <p class="float-left"><%= l post.created_at, format: :date %></p>
              <%= link_to dog_post_path(dog, post), data: { confirm: "本当に削除しますか?" }, method: :delete, remote: true, class: "float-right post-delete-icon" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>