<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="dog-show">
  <div class="container">
    <div class="dog-show-top row">
      <%= render "dog_show_top", dog: @dog %>
    </div>
    <div class="dog-show-profile">
      <%= render "dog_show_profile", dog: @dog %>
    </div>
    <div class="dog-show-skill">
      <%= render "dog_show_skill", dog: @dog %>
    </div>
    <div class="dog-show-health">
      <%= render "dog_show_health", dog: @dog %>
    </div>
    <div class="dog-show-application">
      <%= render "dog_show_application", dog: @dog %>
    </div>
    <div class="dog-posts container">
      <%= render "dog_posts", dog: @dog %>
    </div>
    <div class="dog-show-protector">
      <%= render "dog_show_protector", dog: @dog %>
    </div>
  </div>
</div>