<% provide(:title, @dog.name) %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="dog-show">
  <div class="container">
    <div class="dog-show-top row">
      <%= render "dogs/dog_show_top", dog: @dog, favorites: @favorites %>
    </div>
    <div class="dog-show-skill">
      <%= render "dogs/dog_show_skill", dog: @dog %>
    </div>
    <div class="dog-show-health">
      <%= render "dogs/dog_show_health", dog: @dog %>
    </div>
    <div class="dog-show-application">
      <%= render "dogs/dog_show_application", dog: @dog %>
    </div>
    <div class="dog-posts container">
      <%= render "dogs/dog_posts", dog: @dog, posts: @posts %>
    </div>
    <div class="dog-show-protector">
      <%= render "dogs/dog_show_protector", dog: @dog %>
    </div>
  </div>
</div>