<div class="modal-dialog">
  <div class="modal-content">
    <div class="pet">
      <div class="pets-container">
        <div class="pet-new">
          <h1><i class="fas fa-dog"></i>先住動物投稿</h1>
          <%= form_for([@user, @pet], remote: true, multipart: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <div class="field pet-field">
              <%= f.label :image, "写真" %><br />
              <div class="pet-image-file">
                <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
              </div>
            </div>
            <div class="field">
              <%= f.label :age, "年齢" %><span class="mandatory">必須</span><br />
              <%= f.select :age, Pet.ages.keys, {prompt: '選択してください'}, class: 'form-control dogs-new-field' %>
            </div>
            <div class="field">
              <%= f.label :gender, "性別" %><span class="mandatory">必須</span><br />
              <%= f.select :gender, Pet.genders.keys, {prompt: '選択してください'}, class: 'form-control dogs-new-field' %>
            </div>
            <div class="field pet-field">
              <%= f.label :character, "性格（50文字以内)" %><br />
              <%= f.text_field :character, autofocus: true, :placeholder => "性格（50文字以内)", autocomplete: "character" %>
            </div>
            <div class="actions pet-button">
              <%= f.submit "登録", :class=>"btn btn-outline-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>