<div class="pet-post col col-sm-4" id="pets-<%= pet.id %>">
  <div class="box pet-box">
    <div class="pet-img">
      <%= image_tag pet.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:"300x300+0+0"}).processed, class: "img-fluid" %>
    </div>
    <div class="pet-info">
      <div class="pet-info-1">
        <p><%= pet.age %></p>
        <p><%= pet.gender %></p>
      </div>
      <div class="pet-info-2">
        <p><%= pet.character %></p>
      </div>
    </div>
    <% if user_signed_in? && user.id == current_user.id %>
      <div class="pet-current clearfix">
        <div class="float-right">
          <div class="pet-edit-link float-left">
            <%= link_to edit_user_pet_path(user, pet), remote: true, class: "pet-icon pet-edit-icon" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <div id="pet-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          </div>
          <div class="pet-delete-link float-right">
            <%= link_to user_pet_path(user, pet), data: { confirm: "本当に削除しますか?" }, method: :delete, remote: true, class: "pet-delete-icon" do %>
              <i class="fas fa-trash-alt" id="pet-<%= pet.id %>"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>