<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "protectors/shared/error_messages", resource: resource %>
  <div class="field edit-image">
    <%= f.label :image, "アイコン" %><br />
    <% if protector.image.attached? %>
      <%= image_tag protector.image.variant(combine_options:{gravity: :center, resize:"100x100^", crop:"100x100+0+0"}).processed %>
    <% else %>
      <%= image_tag "protector_default.png", :size => "100x100" %>
    <% end %>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "sign-up-field" %>
  </div>
  <div class="field">
    <%= f.label :name, "保護団体名" %><br />
    <%= f.text_field :name, autofocus: true, :placeholder => "団体名", autocomplete: "name", class: "edit-field" %>
  </div>
  <div class="field">
    <%= f.label :email, "Eメールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit-field"  %>
  </div>
  <div class="field">
    <%= f.label :profile, "紹介文" %><br />
    <%= f.text_area :profile, autofocus: true, class: "form-control", :placeholder => "紹介文", autocomplete: "profile", class: "edit-field" %>
  </div>
  <div class="field">
    <%= f.label :address, "所在地" %><br />
    <%= f.select :address, Protector.addresses.keys, {prompt: '選択してください'}, class: 'form-control edit-field' %>
  </div>
  <div class="field">
    <%= f.label :url,"Webサイト" %><br />
    <%= f.text_field :url, autofocus: true, class: "form-control", :placeholder => "Webサイト", autocomplete: "url", class: "edit-field" %>
  </div>
  <div class="field">
    <%= f.label :password, "新パスワード" %>
    <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %> 文字以上）</em>
    <% end %></br>
    <i>(変更のない場合は入力しないでください)</i><br />
    <%= f.password_field :password, :placeholder => "新パスワード", autocomplete: "new-password", class: "edit-field" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "新パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, :placeholder => "新パスワード（確認用）", autocomplete: "new-password", class: "edit-field" %>
  </div>
  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %><span class="mandatory">必須</span><br/>
    <%= f.password_field :current_password, :placeholder => "現在のパスワード", autocomplete: "current-password", class: "edit-field" %>
  </div>
  <div class="actions">
    <%= f.submit "更新", :class=>"btn btn-outline-dark" %>
  </div>
<% end %>