<% provide(:title, "お知らせ") %>
<div class="notifications">
  <div class="notification">
    <% if @notifications.present? %> 
      <% if protector_signed_in? %>
        <div class="container">
          <% @notifications.each do |notification| %>
            <% visitor = notification.visitor_user %>
            <% dog = notification.dog %>
            <div class="row notification-list">
              <div class="notification-left col-2">
                <% if visitor.image.attached? %>
                  <%= image_tag visitor.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed %>
                <% else %>
                  <%= image_tag "user_default.png", :size => "50x50" %>
                <% end %>
              </div>
              <div class="notification-right col-10">
                <!-- notification_formをnotifications_helper.rbで定義　-->
                <%= notification_form(notification) %>
                <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="container">
          <% @notifications.each do |notification| %>
            <% visitor = notification.visitor_protector %>
            <% dog = notification.dog %>
            <div class="row notification-list">
              <div class="notification-left col-2">
                <% if visitor.image.attached? %>
                  <%= image_tag visitor.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed %>
                <% else %>
                  <%= image_tag "protector_default.png", :size => "50x50" %>
                <% end %>
              </div>
              <div class="notification-right col-10">
                <!-- notification_formをnotifications_helper.rbで定義　-->
                <%= notification_form(notification) %>
                <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="notification-none">お知らせはありません</p>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>