<div class="user-show-img col-6">
  <% if user.image.attached? %>
    <%= image_tag user.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:"300x300+0+0"}).processed %>
  <% else %>
    <%= image_tag "user_default.png", :size => "300x300" %>
  <% end %>
</div>
<div class="user-show-right col-6">
  <div class="user-right-1 row">
    <div class="user-name col-9">
      <h1><%= user.name %></h1>
    </div>
    <div class="user-edit-link col-3">
      <% if user_signed_in? && user == current_user %>
        <%= link_to "編集", edit_user_registration_path(user.id), class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
  <div class="user-right-2">
    <div class="user-show-info row">
      <div class="col-6">
        <p>居住地</p>
      </div>
      <div class="col-6">
        <%= user.address %>
      </div>
    </div>
    <div class="user-show-info row">
      <div class="col-6">
        <p>住居形態</p>
      </div>
      <div class="col-6">
        <%= user.house %>
      </div>
    </div>
    <div class="user-show-info row">
      <div class="col-6">
        <p>同居人数</p>
      </div>
      <div class="col-6">
        <%= user.family_people %>
      </div>
    </div>
    <div class="user-show-info row">
      <div class="col-6">
        <p>お留守番</p>
      </div>
      <div class="col-6">
        <%= user.caretaker%>
      </div>
    </div>
    <div class="user-follow-like row">
      <div class="user-follow col-6">
        <%= render 'users/follow', user: user, relationships: relationships %>
      </div>
      <% if user == current_user %>
        <div class="favorite-show col-6">
          <%= link_to "お気に入り一覧", user_favorites_path(user) %>
        </div>
      <% elsif protector_signed_in? %>
        <div class="message-link col-6">
          <% if @isroom == true %>
            <%= link_to "メッセージ画面へ", room_path(@roomid), class: "btn btn-outline-dark" %>
          <% else %>
            <%= form_for @room, url: rooms_path(id: @room.id), method: :post do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "メッセージを送る", class: "btn btn-outline-dark" %>
            <% end %> 
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>