<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="user-show">
  <div class="container">
    <div class="user-show-top row">
      <%= render 'users/show_top', user: @user %>
    </div>
    <div class="user-show-profile">
      <% if @user.profile.present? %>
        <div class="profile-text">
          <%= @user.profile %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-pets container">
    <div class="user-pet-top row">
      <div class="user-pet-title col-8">
        <h2>先住動物</h2>
      </div>
      <% if user_signed_in? && @user.id == current_user.id %>
        <div class="det-new-link col-4">
          <%= link_to new_user_pet_path(@user), remote: true, class: "pet-new-icon" do %>
            <i class="fas fa-paw fa-3x"></i>
          <% end %>
          <div id="pet-new-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
      <% end %>
    </div>
    <div class="pet-posts row">
      <% @user.pets.each do |pet| %>
        <div class="pet-post col col-sm-4">
          <%= image_tag pet.image.variant(combine_options:{gravity: :center, resize:"300x300^", crop:"300x300+0+0"}).processed, class: "img-fluid" %>
          <p><%= pet.age %></p>
          <p><%= pet.gender %></p>
          <p><%= pet.character %></p>
          <div class="pet-edit-link">
            <%= link_to edit_user_pet_path(@user, pet), remote: true, class: "pet-edit-icon" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <div id="pet-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          </div>
          <div class="pet-delete-link">
            <%= link_to user_pet_path(@user, pet), data: { confirm: "本当に削除しますか?" }, method: :delete, remote: true, class: "pet-delete-icon" do %>
              <i class="fas fa-trash-alt" id="pet-<%= pet.id %>"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>