<% provide(:title, @user.name) %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="user-show">
  <div class="container">
    <div class="user-show-top row">
      <%= render 'users/show_top', user: @user, relationships: @relationships %>
    </div>
    <div class="user-show-profile">
      <% if @user.profile.present? %>
        <div class="profile-text">
          <%= @user.profile %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-pets container">
    <%= render 'users/user_pets', user: @user, pets: @pets %>
  </div>
</div>