<% provide(:title, "保護活動家ログイン") %>
<div class="devise">
  <div class="devise-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="sign-in">
      <h3>ログイン</br>（保護活動家の方）</h3>
      <%= render "protectors/sessions/login_form" %>
      <p class="or">または</p>
      <%= link_to 'テストユーザーとしてログイン', protectors_guest_sign_in_path, class: "btn btn-outline-dark test-login", method: :post %>
    </div>
    <div class="sign-link">
      <p>アカウントをお持ちではないですか？</p>
      <%= link_to "登録する",new_protector_registration_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
