<div class="event-index container">
  <div class="event-index-top row">
    <div class="event-index-title col-8">
      <h1>イベント一覧</h1>
    </div>
    <% if protector_signed_in? %>
      <div class="event-new-link col-4">
        <%= link_to new_event_path do %>
          <i class="fas fa-clipboard-list fa-2x"></i>
          <p>イベント登録</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="accordion" id="accordion-4">
    <div class="dog-search">
      <%= render 'search', search_params: @search_params %>
    </div>
  </div>
  <div class="events row row-cols-2 row-cols-lg-3">
    <% @events.each do |event| %>
      <div class="events-index col">
        <div class="events-info">
          <div class="event-info-img float-left">
            <%= link_to event_path(event) do %>
              <% if event.protector.image.attached? %>
                <%= image_tag event.protector.image.variant(combine_options:{gravity: :center, resize:"100x100^", crop:"100x100+0+0"}).processed %>
              <% else %>
                <%= image_tag "protector_default.png", :size => "200x200" %>
              <% end %>
            <% end %>
          </div>
          <div class="event-daytime">
            <p><%= l event.due_on, format: :long %></p>
            <p><%= l event.start_at, format: :short %>〜<%= l event.finish_at, format: :short %></p>
            <p><%= event.prefecture %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @events %>
</div>