<% provide(:title, "イベント登録") %>
<div class="event">
  <div class="event-container">
    <div class="event-new">
      <%= form_for @event do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="field event-field">
          <%= f.label :due_on, "開催日" %><span class="mandatory">必須</span><br />
          <%= f.date_select :due_on, {}, class: 'form-control bootstrap-date' %>
        </div>
        <div class="field event-field">
          <%= f.label :start_at, "開始時刻" %><span class="mandatory">必須</span><br />
          <%= f.time_select :start_at, class: 'form-contro' %>
        </div>
        <div class="field event-field">
          <%= f.label :finish_at, "終了時刻" %><span class="mandatory">必須</span><br />
          <%= f.time_select :finish_at, class: 'form-control' %>
        </div>
        <div class="field event-field">
          <%= f.label :prefecture, "開催地（都道府県）" %><span>（オンラインで開催の場合は最後の【Web】を選択してください）</span><span class="mandatory">必須</span><br />
          <%= f.select :prefecture, Event.prefectures.keys, {prompt: '選択してください'}, class: 'form-control' %>
        </div>
        <div class="field event-field">
          <%= f.label :address, "開催地（住所）" %><br />
          <%= f.text_field :address, class: "form-control", placeholder: "例：東京都新宿区新宿３丁目３８", autocomplete: "address" %>
        </div>
        <div class="field event-field">
          <%= f.label :content, "説明（200文字以内)" %><br />
          <%= f.text_area :content, class: "form-control", placeholder: "参加頭数、雰囲気等", autocomplete: "content" %>
        </div>
        <div class="actions dog-button">
          <%= f.submit "送信", :class=>"btn btn-outline-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>