<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="protector-show">
  <div class="container">
    <div class="protector-show-top row">
      <%= render 'protectors/show_top', protector: @protector, relationships: @relationships %>
    </div>
    <div class="protector-show-profile">
      <% if @protector.profile.present? %>
        <div class="profile-text">
          <%= @protector.profile %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="protector-dogs container">
    <%= render 'protector_dogs', protector: @protector %>
  </div>
</div>