<h1>Protector#show</h1>
<p>名前 : <%= @protector.name %></p>
<p>メールアドレス : <%= @protector.email %></p>
<p>プロフィール : <%= @protector.profile %></p>
<p>所在地 : <%= @protector.address %></p>
<p>Webサイト: <%= @protector.url %></p>
<% if @protector.image.attached? %>
  <%= image_tag @protector.image.variant(combine_options:{gravity: :center, resize:"200x200^", crop:"200x200+0+0"}).processed %>
<% else %>
  <%= image_tag "protector_default.png", :size => "200x200" %>
<% end %>
