<% provide(:title, "メッセージ") %>
<div class="dm">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="dm-top">
    <%= render 'rooms/room_top', entries: @entries %>
  </div>
  <div class="dm-message">
    <%= render 'rooms/message', messages: @messages %>
  </div>
  <div class="dm-footer fixed-bottom">
    <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい(100文字以内)" , id: "message-content", size: 70 %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>
