<div class='fixed-top'>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <div class="header-right mr-auto">
        <%= link_to root_path do %>
          <%= image_tag "wDOG_LOGO2.png", :size => "70x70", class: "navbar-brand" %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if user_signed_in? || protector_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
          </ul>
          <ul class="navbar-nav head-right">
            <li class="nav-item head-icon">
              <%= link_to homes_path do %>
                <i class="fas fa-bone fa-2x"></i>
                <p>サイト概要</p>
              <% end %>
            </li>
            <li class="nav-item head-icon">
              <%= link_to events_path do %>
                <i class="fas fa-paw fa-2x"></i>
                <p>イベント</p>
              <% end %>
            </li>
            <li class="nav-item head-icon">
              <%= link_to rooms_path do %>
                <i class="fas fa-comments fa-2x"></i>
                <p>メッセージ</p>
              <% end %>
            </li>
            <li class="nav-item head-icon">
              <% if protector_signed_in? %>
                <%= link_to new_dog_path do %>
                  <i class="fas fa-dog fa-2x"></i>
                  <p>保護犬登録</p>
                <% end %>
              <% else %>
                <%= link_to user_favorites_path(current_user) do %>
                  <i class="fab fa-gratipay fa-2x"></i>
                  <p>お気に入り</p>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item head-icon">
              <%= link_to notifications_path, class: "notification-icon" do %>
                <i class="fas fa-bell fa-2x"></i>
                <p>お知らせ</p>
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle notification-circle"></i>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item head-img dropdown">
              <% if user_signed_in? %>
                <a href="#" class="nav-link dropdown-toggle head-img-link" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.image.attached? %>
                    <%= image_tag current_user.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed %>
                  <% else %>
                    <%= image_tag "user_default.png", :size => "50x50" %>
                  <% end %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item" %>
                </div>
              <% else %>
                <a href="#" class="nav-link dropdown-toggle head-img-link" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                  <% if current_protector.image.attached? %>
                    <%= image_tag current_protector.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed %>
                  <% else %>
                    <%= image_tag "protector_default.png", :size => "50x50" %>
                  <% end %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "マイページ", protector_path(current_protector), class: "dropdown-item" %>
                  <%= link_to "ログアウト", destroy_protector_session_path, class: "dropdown-item" %>
                </div>
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
          </ul>
          <ul class="navbar-nav head-right">
            <li class="nav-item head-icon head-icon-h">
              <%= link_to events_path do %>
                <i class="fas fa-paw fa-2x"></i>
                <p>イベント</p>
              <% end %>
            </li>
            <li class="nav-item head-icon head-icon-h">
              <%= link_to homes_path do %>
                <i class="fas fa-bone fa-2x"></i>
                <p>サイト概要</p>
              <% end %>
            </li>
            <li class="nav-item dropdown head-icon">
              <a href="#" class="nav-link dropdown-toggle head-img-link" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sign-in-alt fa-2x"></i>
                <p>ログイン</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "一般の方", new_user_session_path, class: "dropdown-item" %>
                <%= link_to "保護活動家", new_protector_session_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown head-icon">
              <a href="#" class="nav-link dropdown-toggle head-img-link" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-plus fa-2x"></i>
                <p>新規登録</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "一般の方", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "保護活動家", new_protector_registration_path, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>