<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="field edit-image">
    <%= f.label :image, "アイコン" %><br />
    <% if user.image.attached? %>
      <%= image_tag user.image.variant(combine_options:{gravity: :center, resize:"100x100^", crop:"100x100+0+0"}).processed %>
    <% else %>
      <%= image_tag "user_default.png", :size => "100x100" %>
    <% end %>
    <div class="image-file">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "sign-up-field" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :name, "ユーザー名" %><br />
    <%= f.text_field :name, autofocus: true, :placeholder => "ユーザー名", autocomplete: "name", class: "sign-up-field" %>
  </div>
  <div class="field">
    <%= f.label :email, "Eメールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :profile, "自己紹介" %><br />
    <%= f.text_field :profile, autofocus: true, class: "form-control", :placeholder => "自己紹介", autocomplete: "profile", class: "sign-up-field" %>
  </div>
  <div class="field">
    <%= f.label :address, "居住地" %><br />
    <%= f.select :address, User.addresses.keys, {prompt: '選択してください'}, class: 'form-control sign-up-field' %>
  </div>
  <div class="field">
    <%= f.label :family_people, "同居家族人数（ご自身含め）" %><br />
    <%= f.select :family_people, User.family_people.keys, {prompt: '選択してください'}, class: 'form-control sign-up-field' %>
  </div>
  <div class="field">
    <%= f.label :house, "居住形態" %><br />
    <%= f.select :house, User.houses.keys, {prompt: '選択してください'}, class: 'form-control sign-up-field' %>
  </div>
  <div class="field">
    <%= f.label :caretaker, "お留守番時間（保護犬を迎える場合）" %><br />
    <%= f.select :caretaker, User.caretakers.keys, {prompt: '選択してください'}, class: 'form-control sign-up-field' %>
  </div>
  <div class="field">
    <%= f.label :password, "新パスワード" %>
    <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %> 文字以上）</em>
    <% end %></br>
    <i>(変更のない場合は入力しないでください)</i><br />
    <%= f.password_field :password, :placeholder => "新パスワード", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, :placeholder => "新パスワード（確認用）", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %><span class="mandatory">必須</span><br />
    <%= f.password_field :current_password, :placeholder => "現在のパスワード", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新", :class=>"btn btn-outline-dark" %>
  </div>
<% end %>